// акцентний помаранчевий:
$accentColort: #ff6b08;

// текст
$textLightColor: #ffffff;
$textDarkColor: #000000;

// підкладка під фон:
$bgOverlayColor: rgba(0, 0, 0, 0.56);

// фон альтернативний (футер і кнопки світчера)
$bgSecondaryColor: #f7f7f7;
