main {
  min-height: calc(100vh - (230px + 100px));

  @media screen and (min-width: 768px) {
    min-height: calc(100vh - (230px + 77px));
  }
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

svg {
  fill: currentColor;
  stroke: currentColor;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
