.button {
  width: 130px;
  height: 44px;
  border-radius: 5px;
  padding: 0 8px;
  color: $textLightColor;
  border: 1px solid $textLightColor;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: 255ms $animationFunction;
  &:hover,
  &:focus {
    border-color: $accentColor;
    color: $accentColor;
  }

  @media screen and (min-width: 768px) {
    width: 136px;
  }
}

.button--is-active {
  background: $accentColor;
  border: none;
  &:hover,
  &:focus {
    color: $textDarkColor;
  }
}

.button--on-modal {
  width: 113px;
  color: $textDarkColor;
  border: 1px solid $textDarkColor;

  &:hover,
  &:focus {
    color: $textLightColor;
    background: $accentColor;
    border: none;
  }

  @media screen and (min-width: 768px) {
    width: 125px;
  }

  @media screen and (min-width: 1024px) {
    width: 136px;
  }
}

.library-buttons {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;

  @media screen and(min-width: 768px) {
    width: 287px;
  }
}

.modal-button {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 240px;

  @media screen and(min-width: 768px) {
    width: 265px;
  }

  @media screen and(min-width: 1024px) {
    width: 287px;
  }
}
