.card-gallery {
  width: 280px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  cursor: pointer;
  text-align: start;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  margin-left: 20px;
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    width: 294px;
    margin-top: 30px;
    margin-left: 30px;
  }

  @media screen and (min-width: 1024px) {
    width: 274px;
    margin-top: 30px;
    margin-left: 30px;
  }
}

.card-gallery__poster {
  background-repeat: no-repeat;
  height: 398px;
  overflow: hidden;
  border-radius: 5px;
}

.card-gallery__title {
  text-transform: uppercase;
  color: $textDarkColor;
  padding-top: 10px;
}

.card-gallery__descr {
  display: flex;
}

.card-gallery__genres-release {
  color: $accentColort;
  margin-right: 10px;
  // display: flex;
}

.card-gallery_genres-other--hidden {
  display: none;
}

.card-gallery__rate {
  width: 36px;
  height: 16px;
  background-color: $accentColort;
  color: $textLightColor;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding-top: 1px;
}

// ///
// .card {
//   width: 100%;
//   height: 440px;
//   margin-bottom: 20px;
// }

// //

// .card__tumb {
//   height: 398px;
//   overflow: hidden;
// }

// .card__image {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   border-radius: 5px;
// }

// .card__title {
//   text-transform: uppercase;
//   font-size: 12px;
//   line-height: 1.17;
//   padding-top: 10px;
//   transition: color 0.3s ease-in-out 0s;
// }
// .card__caption {
//   justify-content: start;

//   font-size: 12px;
//   line-height: 1.33;
//   color: $accentColort;
//   padding: 1px 0;
// }
// .card__items {
//   display: flex;
//   justify-content: start;
//   margin: right 3px;
// }
// .card__item {
//   margin-right: 5px;
//   &:not(:last-child) {
//     margin-right: 3px;
//     &::after {
//       content: ',';
//       display: inline-block;
//     }
//   }
// }

// .card__year {
//   width: 33px;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: unset;

//   &::before {
//     content: '|';
//     display: inline-block;
//     width: 1px;
//     height: 11px;
//     margin-right: 5px;
//     background-color: $accentColort;
//   }
// }
// .card__rating {
//   margin-left: 10px;
//   color: $textLightColor;
//   line-height: 14px;
//   height: 16px;
//   width: 36px;
//   padding-top: 1px;
//   text-align: center;
//   background-color: $accentColort;
//   border-radius: 5px;
// }
