// .spinner-grow {
//   display: inline-block;
//   width: 2em;
//   height: 2em;
//   vertical-align: text-bottom;
//   background-color: currentColor;
//   border-radius: 50%;

//   opacity: 0;
//   animation: spinner-grow 0.75s $animationFunction infinite;

// }

// @keyframes spinner-grow {
//   0% {
//     transform: scale(0);
//   }
//   50% {
//     opacity: 1;
//     transform: none;
//   }
// }

// .spinner--small .spinner-grow {
//   width: 20px;
//   height: 20px;
// }

// .text-muted {
//   color: #6c757d;
// }

// .text-primary {
//   color: #007bff;
// }

// .text-success {
//   color: #28a745;
// }

// .text-info {
//   color: #17a2b8;
// }

// .text-warning {
//   color: #ffc107;
// }

// .text-danger {
//   color: #dc3545;
// }

// .text-secondary {
//   color: #6c757d;
// }

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  width: 150px;
  height: 150px;
  border: 15px solid transparent;
  border-top: 15px solid rgb(0, 0, 0, 0.5);
  border-left: 15px solid rgb(0, 0, 0, 0.5);
  border-bottom: 15px solid rgb(0, 0, 0, 0.5);
  border-right: 15px solid $accentColor;
  border-radius: 50%;

  animation-name: spin;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  &--small {
    top: 35%;
    left: 35%;
    width: 100px;
    height: 100px;
    border: 10px solid transparent;
    border-top: 10px solid rgb(0, 0, 0, 0.5);
    border-left: 10px solid rgb(0, 0, 0, 0.5);
    border-bottom: 10px solid rgb(0, 0, 0, 0.5);
    border-right: 10px solid $accentColor;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
