.spinner-grow {
  display: inline-block;
  width: 2em;
  height: 2em;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;

  opacity: 0;
  animation: spinner-grow 0.75s $animationFunction infinite;
}

@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
}

.spinner--small .spinner-grow {
  width: 20px;
  height: 20px;
}

.text-muted {
  color: #6c757d;
}

.text-primary {
  color: #007bff;
}

.text-success {
  color: #28a745;
}

.text-info {
  color: #17a2b8;
}

.text-warning {
  color: #ffc107;
}

.text-danger {
  color: #dc3545;
}

.text-secondary {
  color: #6c757d;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  &--small {
    top: 45%;
  }
}
